In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Since I realized mid study that it is possible to have many aircraft_ids associated with the same flight_id,
# I must use a composite key to identify the trips: trip_id = flight_id + aircraft_id

In [2]:
# We need the data with geopandas geometry added
raw_df = pd.read_csv('../../../../og_data/extract_clean.csv', index_col='Unnamed: 0',
                       low_memory=False)

/home/toni/.local/lib/python2.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
bl = raw_df

In [5]:
bl['trip_id'] = bl['flight_id'].str.cat(bl['aircraft_id'], sep='-')

In [6]:
bl.head()

,craw_ts,flight_id,aircraft_id,lat,lon,azi,alt,speed,ts,trip_id
0,1.468556e+12,HBAL417,BA1102,44.7567,-113.6905,194,62300.0,4,2016-07-15 04:07:57,HBAL417-BA1102
1,1.468556e+12,HBAL406,BA1123,43.3738,-113.7937,258,60500.0,5,2016-07-15 04:07:59,HBAL406-BA1123
2,1.468556e+12,HBAL427,BA111F,18.2783,-65.7778,258,57600.0,29,2016-07-15 04:07:59,HBAL427-BA111F
3,1.468556e+12,HBAL287,BA1008,-7.2694,-79.8547,356,59900.0,19,2016-07-15 04:08:00,HBAL287-BA1008
4,1.468556e+12,HBAL305,BA1007,-7.3076,-78.5334,352,60200.0,16,2016-07-15 04:08:00,HBAL305-BA1007

In [7]:
# Overwrite the modified extract
bl.to_csv('../../../../og_data/extract_clean.csv')

In [8]:
# We need the data with geopandas geometry added
raw_df = pd.read_csv('../../../../og_data/extract_clean_with_country.csv', index_col='Unnamed: 0', parse_dates=['ts'],
                       low_memory=False)

In [9]:
bl = raw_df

In [10]:
bl['trip_id'] = bl['flight_id'].str.cat(bl['aircraft_id'], sep='-')

In [11]:
bl.head()

,craw_ts,flight_id,aircraft_id,lat,lon,azi,alt,speed,ts,country,country_code,trip_id
0,1.468556e+12,HBAL417,BA1102,44.7567,-113.6905,194,62300.0,4,2016-07-15 04:07:57,United States of America,USA,HBAL417-BA1102
1,1.468556e+12,HBAL406,BA1123,43.3738,-113.7937,258,60500.0,5,2016-07-15 04:07:59,United States of America,USA,HBAL406-BA1123
2,1.468556e+12,HBAL427,BA111F,18.2783,-65.7778,258,57600.0,29,2016-07-15 04:07:59,Puerto Rico,PRI,HBAL427-BA111F
3,1.468556e+12,HBAL287,BA1008,-7.2694,-79.8547,356,59900.0,19,2016-07-15 04:08:00,NaN,NaN,HBAL287-BA1008
4,1.468556e+12,HBAL305,BA1007,-7.3076,-78.5334,352,60200.0,16,2016-07-15 04:08:00,Peru,PER,HBAL305-BA1007

In [12]:
# Overwrite the modified extract
bl.to_csv('../../../../og_data/extract_clean_with_country.csv')