In [99]:
import pandas as pd
import numpy as np
from keplergl import KeplerGl
import geopandas as gpd

In [100]:
raw_df = pd.read_csv('../../../../og_data/' + 'trips_with_cluster.csv', parse_dates=['ts'], low_memory=False)

In [101]:
bl = raw_df

In [4]:
# A stay point presents a noticeable concentration of points in an area (the area where the loon stayed).
# Since there are too many spatial traces and they are scattered all over the world, we need clustering 
# to find general areas where the loon left a higher concentration of traces.

# Using DBSCAN clustering algorithm on the spatial traces we have found the points which the loons have visited the most
# Once discovered these hot points we can look for stay points. Since the algorithm only takes into account the spatial
# dimension the resulting clusters cannot be considered as stay points: 
   #  A loon might have flown over a point frequently thus leaving a high concentration of traces 
   #  (therefore a DBSCAN cluster) but the visits might be scattered through time so the loon did not
   #  really stay at that point. This is what we call a false positive.

# To tackle this problem we separate the cluster into episodes (visits) so we can filter out the false positives
# and keep the actual stay points

# Now we need to find what defines an episode and which are the properties an episode must present to be considered
# a stay point

In [5]:
# In order to separate the cluster into episodes we need to define an episode.
# Easy, when a loon enters a cluster it starts a visit and when it leaves the cluster the visit has ended
# Therefore an episode is simply a non-interrupted trip.

# Since the traces are discrete data and they do not present a constant frequency due to measurement 
# fauls, a punctual missing trace might be confused with a leaving loon. That's why we need to set a
# threshold that helps us differentiate between faulty gaps and episode gaps

# In business terms, the threshold is a maximum time distance among records(a frequency) above which we 
# we can assume there was not a missing trace but the loon left. 
# If the time since last record for a loon exceeds such max frequency, then we mark the end of one episode 
# and the start of the next one.

In [102]:
# Let's study the frequency:

# Every loon trip presents different gaps so we need to find a way to standardize the frequency value computation.

# We could use the median, but it would leave too many punctual missing measurements out. 
# A looser alternative for the median are percentiles.
# Since we have checked the health of the data, we go for 99 so that we only discard the most significant outliers

# For negative values we set a time over the threshold so it counts as new episode.

# Percentile 99 is 5 mins whereas 0.999 is 2 hours maybe we should just fix a frequency instead of finding one
#max_frequency = bl.time_since_last_record.quantile(0.99)
max_frequency = pd.Timedelta(hours=6)

In [123]:
# Once the frequency threshold is set, let's get the episodes for each cluster

cluster_ids = bl.cluster.unique()
# We exclude the traces not belonging to a cluster (-1)
cluster_ids = np.delete(cluster_ids, np.argwhere(cluster_ids==-1), 0)


bl_with_episodes =  pd.DataFrame()

for cluster in cluster_ids:
      
    season = bl.loc[bl.cluster == cluster].copy()
    
    # First we need the local frequency or time_since_last_record
    season = season.sort_values('ts')
    season['time_since_last_record'] = season['ts'] - season['ts'].shift()
    season['time_since_last_record'] = season['time_since_last_record'].fillna(pd.Timedelta(seconds=0))
    
    # Then we start computing the episodes following the explained criteria
    # The episodes are labeled from 0 to N for each cluster
    episode = 0
    for index, row in season.iterrows(): 
        
        if row['time_since_last_record'] > max_frequency:
            episode += 1
        
        season.at[index,'episode'] = episode
        
    bl_with_episodes = bl_with_episodes.append(season)

In [124]:
bl_with_episodes.head()

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon,trip_id,cluster,time_since_last_record,episode
323616,2018-04-20 00:20:57+00:00,HBAL088,63600,12,315,N211LB,-10.413735,-32.165649,HBAL088,0,00:00:00,0.0
323617,2018-04-20 00:26:27+00:00,HBAL088,63600,12,311,N211LB,-10.400468,-32.179428,HBAL088,0,00:05:30,0.0
323618,2018-04-20 00:31:34+00:00,HBAL088,63500,11,307,N211LB,-10.389808,-32.192310,HBAL088,0,00:05:07,0.0
323619,2018-04-20 00:32:08+00:00,HBAL088,63600,11,307,N211LB,-10.388718,-32.193665,HBAL088,0,00:00:34,0.0
323620,2018-04-20 00:34:39+00:00,HBAL088,63600,12,315,N211LB,-10.382950,-32.199856,HBAL088,0,00:02:31,0.0

In [ ]:
# Now that we have the episodes for each cluster we can analyze them looking for false positives.

# In order to determine the validity of an episodes we need to define a minimum time of duration
# to consider it as a stay episode since it might be in the cluster due to other spatially close episodes.

# If the episode exceeds such threshold we can classify the spatial cluster episode as a spatiotemporal
# cluster episode and therefore a stay point

In [126]:
# We create a log of episodes in order to study them

# First let's get the clusters with their respective episodes
stay_episodes = bl_with_episodes.groupby(['cluster','episode']).count().reset_index()

stay_episodes = stay_episodes[['cluster','episode']]

# The log will be filled with the start and end times of each episode
stay_episodes['start'] = pd.NaT
stay_episodes['end'] = pd.NaT
stay_episodes['duration'] = pd.NaT

for index, row in stay_episodes.iterrows(): 
    
    
    episode_log = bl_with_episodes.loc[(bl_with_episodes.cluster == row['cluster']) \
                                       & (bl_with_episodes.episode == row['episode'])].sort_values('ts')                                                                    
    
    # We take the first and last ts of the episode
    start_episode = episode_log['ts'].iloc[0]
    end_episode = episode_log['ts'].iloc[-1]
    
    stay_episodes.at[index,'start'] = start_episode
    stay_episodes.at[index,'end'] = end_episode

    
# Next step is to asses the log to look for valid episodes.
# For such purpose we set a 
stay_episodes['duration'] = stay_episodes['end'] - stay_episodes['start']

def check_validity(duration):
    if duration >= pd.Timedelta('1 days'):
        return True
    return False

stay_episodes['valid'] = stay_episodes.apply(lambda r: check_validity(r.duration), axis=1)



stay_episodes

,cluster,episode,start,end,duration,valid
0,0,0.0,2018-04-20 00:20:57,2018-04-23 10:42:01,3 days 10:21:04,True
1,0,1.0,2018-09-23 15:56:55,2018-09-25 01:00:00,1 days 09:03:05,True
2,0,2.0,2018-11-26 16:37:42,2018-11-30 03:08:38,3 days 10:30:56,True
3,0,3.0,2018-11-30 10:25:32,2018-12-02 12:54:19,2 days 02:28:47,True
4,0,4.0,2018-12-04 17:23:31,2018-12-04 17:24:32,0 days 00:01:01,False
...,...,...,...,...,...,...
158,10,0.0,2018-08-17 16:52:45,2018-08-19 12:32:39,1 days 19:39:54,True
159,10,1.0,2018-11-25 15:00:17,2018-11-25 18:13:11,0 days 03:12:54,False
160,10,2.0,2019-03-19 20:22:10,2019-03-20 05:17:13,0 days 08:55:03,False
161,10,3.0,2019-05-25 13:21:44,2019-05-26 20:08:53,1 days 06:47:09,True
162,11,0.0,2019-10-29 21:43:28,2019-10-31 23:56:32,2 days 02:13:04,True

In [127]:
# After studying the episode log we merge the info back to our baseline
bl_with_episodes = pd.merge(bl_with_episodes, stay_episodes[['cluster', 'episode', 'valid']],  how='left', on=['cluster','episode'])

In [128]:
bl_with_episodes

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon,trip_id,cluster,time_since_last_record,episode,valid
0,2018-04-20 00:20:57+00:00,HBAL088,63600,12,315,N211LB,-10.413735,-32.165649,HBAL088,0,00:00:00,0.0,True
1,2018-04-20 00:26:27+00:00,HBAL088,63600,12,311,N211LB,-10.400468,-32.179428,HBAL088,0,00:05:30,0.0,True
2,2018-04-20 00:31:34+00:00,HBAL088,63500,11,307,N211LB,-10.389808,-32.192310,HBAL088,0,00:05:07,0.0,True
3,2018-04-20 00:32:08+00:00,HBAL088,63600,11,307,N211LB,-10.388718,-32.193665,HBAL088,0,00:00:34,0.0,True
4,2018-04-20 00:34:39+00:00,HBAL088,63600,12,315,N211LB,-10.382950,-32.199856,HBAL088,0,00:02:31,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292384,2019-10-31 23:55:19+00:00,HBAL034,59800,5,111,N238LB,15.726288,-89.147835,HBAL034,11,00:00:12,0.0,True
292385,2019-10-31 23:55:19+00:00,HBAL034,59800,5,111,N238LB,15.726288,-89.147835,HBAL034,11,00:00:00,0.0,True
292386,2019-10-31 23:55:31+00:00,HBAL034,59900,5,111,N238LB,15.726137,-89.147530,HBAL034,11,00:00:12,0.0,True
292387,2019-10-31 23:55:31+00:00,HBAL034,59900,5,111,N238LB,15.726137,-89.147530,HBAL034,11,00:00:00,0.0,True
292388,2019-10-31 23:56:32+00:00,HBAL034,60100,6,116,N238LB,15.725300,-89.145859,HBAL034,11,00:01:01,0.0,True

In [129]:
# Let's save it so we can further study the behaviour of the loon

# At the moment we only study a loon
bl_with_episodes.to_csv('../../../../og_data/HBAL132-N211LB.csv',  index=False, encoding='utf-8-sig')

In [ ]:
#Visualize with Kepler
#Create a basemap 

#map = KeplerGl(height=700, width=800)#show the map
#map

In [120]:
bl_with_episodes_kp = bl_with_episodes.drop('time_since_last_record', axis=1)

gdf = gpd.GeoDataFrame(bl_with_episodes_kp, \
                       geometry=gpd.points_from_xy(bl_with_episodes_kp.lon, bl_with_episodes_kp.lat))

map.add_data(data=gdf, name="loon_traces")