In [6]:
import pandas as pd
import numpy as np
import geopandas as gpd
import time

In [10]:
#['N139LB', 'N166LB', 'N211LB', 'N221LB', 'N225LB', 'N226LB', 'N235LB', 'N238LB', 'N252LB',\
#                 'N271LB', 'N329LB', 'N789LB']

raw_df = pd.DataFrame()

flights_to_add = ['N139LB', 'N166LB', 'N191LB', 'N211LB', 'N221LB', 'N225LB', 'N226LB', 'N228LB', 'N234LB',
                   'N235LB', 'N238LB', 'N252LB', 'N253LB', 'N271LB', 'N329LB', 'N789LB']

for flight in flights_to_add:
    
    aux = pd.read_csv('../../../../og_data/ST-DBSCAN/ST-' + flight + '.csv', parse_dates=['ts'], low_memory=False)
    
    raw_df = raw_df.append(aux)

In [11]:
# We load the file containing the coordinates of the country borders
world_gdf = gpd.read_file('../../../../og_data/countries.geojson')

In [12]:
# Convert initial df to geodf and set the coordinates reference system to match the one in the borders file
bl_gdf = gpd.GeoDataFrame(raw_df, geometry=gpd.points_from_xy(raw_df.lon, raw_df.lat))
bl_gdf.crs = {'init': 'epsg:4326'}

In [13]:
bl_gdf.head(10)

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon,prev_lat,prev_lon,...,prev_ts,distance_since_last_record,time_since_last_record,cluster,eps,max_distance,minpts,visit,stationary,geometry
0,2017-12-06 01:26:44+00:00,HBAL048,40025,32,141,N139LB,40.535568,-117.813049,NaN,NaN,...,NaN,0.000000,0 days 00:00:00.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.81305 40.53557)
1,2017-12-06 01:26:51+00:00,HBAL048,40050,32,139,N139LB,40.534882,-117.812256,40.535568,-117.813049,...,2017-12-06 01:26:44+00:00,0.101537,0 days 00:00:07.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.81226 40.53488)
2,2017-12-06 01:26:57+00:00,HBAL048,40100,33,136,N139LB,40.534149,-117.811394,40.534882,-117.812256,...,2017-12-06 01:26:51+00:00,0.109316,0 days 00:00:06.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.81139 40.53415)
3,2017-12-06 01:27:03+00:00,HBAL048,40125,33,135,N139LB,40.533554,-117.810608,40.534149,-117.811394,...,2017-12-06 01:26:57+00:00,0.093753,0 days 00:00:06.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.81061 40.53355)
4,2017-12-06 01:28:09+00:00,HBAL048,40300,35,137,N139LB,40.525818,-117.800964,40.533554,-117.810608,...,2017-12-06 01:27:03+00:00,1.185028,0 days 00:01:06.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.80096 40.52582)
5,2017-12-06 01:29:10+00:00,HBAL048,40500,36,140,N139LB,40.518368,-117.792412,40.525818,-117.800964,...,2017-12-06 01:28:09+00:00,1.099445,0 days 00:01:01.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.79241 40.51837)
6,2017-12-06 01:30:13+00:00,HBAL048,40775,35,139,N139LB,40.510162,-117.783386,40.518368,-117.792412,...,2017-12-06 01:29:10+00:00,1.189448,0 days 00:01:03.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.78339 40.51016)
7,2017-12-06 01:31:16+00:00,HBAL048,41000,33,135,N139LB,40.502609,-117.774353,40.510162,-117.783386,...,2017-12-06 01:30:13+00:00,1.135161,0 days 00:01:03.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.77435 40.50261)
8,2017-12-06 01:32:17+00:00,HBAL048,41175,31,133,N139LB,40.496201,-117.765686,40.502609,-117.774353,...,2017-12-06 01:31:16+00:00,1.022129,0 days 00:01:01.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.76569 40.49620)
9,2017-12-06 01:33:20+00:00,HBAL048,41300,31,138,N139LB,40.489323,-117.757271,40.496201,-117.765686,...,2017-12-06 01:32:17+00:00,1.044644,0 days 00:01:03.000000000,-1,0.000673,4.289474,1711.47541,-1.0,False,POINT (-117.75727 40.48932)

In [14]:
# Perform a geopandas spatial join to check the country where each coordinate falls in
gdf_with_country = gpd.sjoin(bl_gdf, world_gdf, how='left')

In [15]:
gdf_with_country

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon,prev_lat,prev_lon,...,eps,max_distance,minpts,visit,stationary,geometry,index_right,ADMIN,ISO_A3,ISO_A2
0,2017-12-06 01:26:44+00:00,HBAL048,40025,32,141,N139LB,40.535568,-117.813049,NaN,NaN,...,0.000673,4.289474,1711.475410,-1.0,False,POINT (-117.81305 40.53557),238.0,United States of America,USA,US
1,2017-12-06 01:26:51+00:00,HBAL048,40050,32,139,N139LB,40.534882,-117.812256,40.535568,-117.813049,...,0.000673,4.289474,1711.475410,-1.0,False,POINT (-117.81226 40.53488),238.0,United States of America,USA,US
2,2017-12-06 01:26:57+00:00,HBAL048,40100,33,136,N139LB,40.534149,-117.811394,40.534882,-117.812256,...,0.000673,4.289474,1711.475410,-1.0,False,POINT (-117.81139 40.53415),238.0,United States of America,USA,US
3,2017-12-06 01:27:03+00:00,HBAL048,40125,33,135,N139LB,40.533554,-117.810608,40.534149,-117.811394,...,0.000673,4.289474,1711.475410,-1.0,False,POINT (-117.81061 40.53355),238.0,United States of America,USA,US
4,2017-12-06 01:28:09+00:00,HBAL048,40300,35,137,N139LB,40.525818,-117.800964,40.533554,-117.810608,...,0.000673,4.289474,1711.475410,-1.0,False,POINT (-117.80096 40.52582),238.0,United States of America,USA,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198609,2020-05-04 08:29:42+00:00,HBAL043,61400,18,288,N789LB,-3.685401,-83.218498,-3.691639,-83.201881,...,0.000838,5.336842,2124.590164,-1.0,False,POINT (-83.21850 -3.68540),NaN,NaN,NaN,NaN
198610,2020-05-04 08:36:10+00:00,HBAL043,61400,17,300,N789LB,-3.671482,-83.247719,-3.685401,-83.218498,...,0.000838,5.336842,2124.590164,-1.0,False,POINT (-83.24772 -3.67148),NaN,NaN,NaN,NaN
198611,2020-05-04 08:37:46+00:00,HBAL043,61400,17,296,N789LB,-3.667804,-83.254539,-3.671482,-83.247719,...,0.000838,5.336842,2124.590164,-1.0,False,POINT (-83.25454 -3.66780),NaN,NaN,NaN,NaN
198612,2020-05-04 09:31:52+00:00,HBAL043,61300,17,276,N789LB,-3.589142,-83.494980,-3.667804,-83.254539,...,0.000838,5.336842,2124.590164,-1.0,False,POINT (-83.49498 -3.58914),NaN,NaN,NaN,NaN
198613,2020-05-04 09:32:18+00:00,HBAL043,61300,17,276,N789LB,-3.588913,-83.496887,-3.589142,-83.494980,...,0.000838,5.336842,2124.590164,-1.0,False,POINT (-83.49689 -3.58891),NaN,NaN,NaN,NaN

In [16]:
# Improve readability of expanded dataset

bl_to_print = gdf_with_country
bl_to_print['country'] = gdf_with_country['ADMIN']
bl_to_print['country_code'] = gdf_with_country['ISO_A3']

bl_to_print = bl_to_print.drop(['geometry', 'index_right', 'ADMIN', 'ISO_A3', 'ISO_A2'], axis=1)

bl_to_print

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon,prev_lat,prev_lon,...,distance_since_last_record,time_since_last_record,cluster,eps,max_distance,minpts,visit,stationary,country,country_code
0,2017-12-06 01:26:44+00:00,HBAL048,40025,32,141,N139LB,40.535568,-117.813049,NaN,NaN,...,0.000000,0 days 00:00:00.000000000,-1,0.000673,4.289474,1711.475410,-1.0,False,United States of America,USA
1,2017-12-06 01:26:51+00:00,HBAL048,40050,32,139,N139LB,40.534882,-117.812256,40.535568,-117.813049,...,0.101537,0 days 00:00:07.000000000,-1,0.000673,4.289474,1711.475410,-1.0,False,United States of America,USA
2,2017-12-06 01:26:57+00:00,HBAL048,40100,33,136,N139LB,40.534149,-117.811394,40.534882,-117.812256,...,0.109316,0 days 00:00:06.000000000,-1,0.000673,4.289474,1711.475410,-1.0,False,United States of America,USA
3,2017-12-06 01:27:03+00:00,HBAL048,40125,33,135,N139LB,40.533554,-117.810608,40.534149,-117.811394,...,0.093753,0 days 00:00:06.000000000,-1,0.000673,4.289474,1711.475410,-1.0,False,United States of America,USA
4,2017-12-06 01:28:09+00:00,HBAL048,40300,35,137,N139LB,40.525818,-117.800964,40.533554,-117.810608,...,1.185028,0 days 00:01:06.000000000,-1,0.000673,4.289474,1711.475410,-1.0,False,United States of America,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198609,2020-05-04 08:29:42+00:00,HBAL043,61400,18,288,N789LB,-3.685401,-83.218498,-3.691639,-83.201881,...,1.970048,0 days 00:03:26.000000000,-1,0.000838,5.336842,2124.590164,-1.0,False,NaN,NaN
198610,2020-05-04 08:36:10+00:00,HBAL043,61400,17,300,N789LB,-3.671482,-83.247719,-3.685401,-83.218498,...,3.592974,0 days 00:06:28.000000000,-1,0.000838,5.336842,2124.590164,-1.0,False,NaN,NaN
198611,2020-05-04 08:37:46+00:00,HBAL043,61400,17,296,N789LB,-3.667804,-83.254539,-3.671482,-83.247719,...,0.860232,0 days 00:01:36.000000000,-1,0.000838,5.336842,2124.590164,-1.0,False,NaN,NaN
198612,2020-05-04 09:31:52+00:00,HBAL043,61300,17,276,N789LB,-3.589142,-83.494980,-3.667804,-83.254539,...,28.079312,0 days 00:54:06.000000000,-1,0.000838,5.336842,2124.590164,-1.0,False,NaN,NaN
198613,2020-05-04 09:32:18+00:00,HBAL043,61300,17,276,N789LB,-3.588913,-83.496887,-3.589142,-83.494980,...,0.213159,0 days 00:00:26.000000000,-1,0.000838,5.336842,2124.590164,-1.0,False,NaN,NaN

In [ ]:
for flight in flights_to_add:

    bl_to_print.loc[bl_to_print.registration_id == flight].sort_values('ts')\
                    .to_csv(path_or_buf='../../../../og_data/Country/' + flight + '-country.csv', \
                    index=False, encoding='utf-8-sig')